#navbar {
  background: #17a2b8;
  font-family: 'Varela Round', sans-serif;
}

.navbar-toggler {
  border: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.nav-item {
  margin: 0 1rem;
  text-align: center;
}

.navbar-toggler,
.nav-link,
.nav-link:hover {
  color: white;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.nav-placeholder {
  height: 48px;
}

.nav-placeholder.d-xl-none {
  background-color: #414141;
}