@import url('https://fonts.googleapis.com/css?family=Charm|Open+Sans|Varela+Round');

html,
body {
  height: 100%;
  background-color: #efefef;
}

h1 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.3125rem;
}

.tos-privacy h1,
.tos-privacy h3 {
  font-weight: bold;
}

.tos-privacy,
p {
  font-family: 'Open Sans', sans-serif;
}

.tos-privacy h1,
.tos-privacy h3,
.tos-privacy p,
.tos-privacy ul {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.tos-privacy ul {
  padding-left: 2.5rem;
  list-style: disc;
}

.cover {
  margin-top: 48px;
}

.title {
  line-height: 1.5;
  width: 100%;
  padding: 1rem;
  background-color: #414141;
  color: white;
  text-align: center;
  font-family: 'Charm', cursive;
}

.title h1,
.title h3 {
  margin: 0 auto;
  text-indent: -9999px;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
}

.title h1 {
  background: url("/static/home/img/title_h1_mobile.png") no-repeat center/contain;
}

.title h3 {
  background: url("/static/home/img/title_h3_mobile.png") no-repeat center/contain;
}

.chevron {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  text-align: center;
  color: #b82d17;
  cursor: pointer;
  z-index: 0;
}

.content {
  display: grid;
  background-color: #ffcc8d;
  background:
    linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -webkit-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -webkit-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -webkit-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -moz-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -moz-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -moz-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -ms-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -ms-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -ms-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -o-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -o-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -o-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
}

.content .row {
  margin: 2rem 0;
}

.content .img {
  position: relative;
  height: 364px;
  padding: 2rem 0;
}

.content img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  max-width: 300px;
  max-height: 300px;
  margin: auto;
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2;
}

.lotus,
.rocks {
  display: none;
  height: 100vh;
  opacity: 0.8;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
}

.lotus {
  background: url("/static/home/img/lotus.jpg") no-repeat center center fixed;
}

.rocks {
  background: url("/static/home/img/rocks.jpg") no-repeat center center fixed;
}

.content .h3 {
  font-family: 'Varela Round', 'Open Sans', Arial, sans-serif;
}

.content .contact,
.content .hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.m-tb-2rem {
  margin: 2rem auto;
}

.map-outer {
  width: 200px;
  height: 200px;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.gmap-canvas {
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: none !important;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  .cover {
    position: relative;
    height: 100vh;
    margin: 0;
    opacity: 0.8;
    background: url("/static/home/img/waterfall.jpg") no-repeat center bottom fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
  }

  .title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    line-height: 1.5;
    width: 100%;
    padding: 1rem;
    background-color: #414141;
    color: white;
    text-align: center;
    font-family: 'Charm', cursive;
  }

  .title h1 {
    width: 265px;
    height: 60px;
    background: url("/static/home/img/title_h1.png") no-repeat;
  }

  .title h3 {
    width: 172px;
    height: 42px;
    background: url("/static/home/img/title_h3.png") no-repeat;
  }

  .content img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .lotus,
  .rocks {
    display: block;
  }
}

@media (min-width: 992px) {
  .content img {
    max-width: 400px;
    max-height: 400px;
  }
}

@media (min-width: 768px) {
  .content .row {
    margin: 5rem 0;
  }

  .paragraph {
    height: 300px;
  }

  .gradient-border {
    height: 3px;
    background: linear-gradient(to right, #5b3a94, #17a2b8, #5b3a94);
  }

  .content p {
    padding-top: 0.5em;
  }

  .content .img {
    position: relative;
    height: 300px;
    padding: 0;
  }
}

@media (min-width: 576px) {
  .map-outer {
    width: 400px;
    height: 400px;
  }

  .gmap-canvas {
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 360px) and (max-width: 575px) {
  .map-outer {
    width: 300px;
    height: 300px;
  }

  .gmap-canvas {
    width: 300px;
    height: 300px;
  }
}