{% extends 'booking/base.html' %}
{% load static %}

{% block content %}
<div id="date-picker"></div>
<div class="page">
    <div class="nav-placeholder"></div>
    <div class="container">
        <h3 class="h3 text-center">Schedule an Appointment</h3>
        <div id="calendar">
            <div id="calendar-controls">
                <div class="button inactive">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="date text-center">
                    <span>Today, {{ date|date:"n/j" }}</span>
                    <i id="date-picker-icon" class="far fa-calendar-alt"></i>
                </div>
                <div class="button">
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div>
            <div id="calendar-content"></div>
        </div>
    </div>
</div>
{% endblock %}