<div id="modal">
  <div class="container">
    <div id="modalContent">
      <span class="close">&times;</span>
      <h3 class="h3"></h3>
      <h4 class="h4"></h4>
      <form method="POST" action="{% url 'booking:submit' %}">
        {% csrf_token %}
        {% if profile == None %}
        <input type="hidden" name="profile-id" id="profileId">
        {% else %}
        <input type="hidden" name="profile-id" value="{{ profile.id }}" id="profileId">
        {% endif %}
        <input type="hidden" name="appointment-id">
        <div class="radio">
          <input type="radio" name="massage" value="SW">
          <label id="swedish" for="massage">Swedish</label>
          <input type="radio" name="massage" value="DT">
          <label id="deepTissue" for="massage">Deep Tissue</label>
          <input type="radio" name="massage" value="" checked>
          <label id="unspecified" class="font-italic" for="massage">unspecified</label>
        </div>
        <p class="text-center">You may change your selection at any time on the Profile page.</p>
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>
  </div>
</div>