{% extends 'booking/base.html' %}
{% load static %}

{% block content %}
<div id="datePicker"></div>
<div id="datePickerDate">
  <input type="hidden" name="year" value="{{ date|date:'Y' }}" autocomplete="off">
  <input type="hidden" name="month" value="{{ date|date:'n' }}" autocomplete="off">
</div>
<div id="date">
  <input type="hidden" name="year" value="{{ date|date:'Y' }}" autocomplete="off">
  <input type="hidden" name="month" value="{{ date|date:'n' }}" autocomplete="off">
  <input type="hidden" name="day" value="{{ date|date:'j' }}" autocomplete="off">
</div>
<div class="page">
  <div class="nav-placeholder"></div>
  <div class="container">
    <h3 class="h3 title text-center">Reschedule {{ name }} Appointment</h3>
    <div id="calendar">
      <div id="calendarControls">
        <div class="prev button inactive"
          data-year="{{ prev|date:'Y' }}"
          data-month="{{ prev|date:'n' }}"
          data-day="{{ prev|date:'j' }}">
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="date text-center">
          <span>{{ date|date:"D n/j" }}</span>
          <i id="datePickerIcon" class="far fa-calendar-alt"></i>
        </div>
        <div class="next button"
          data-year="{{ next|date:'Y' }}"
          data-month="{{ next|date:'n' }}"
          data-day="{{ next|date:'j' }}">
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
      <div id="calendarContent"></div>
    </div>
  </div>
</div>
{% endblock %}