{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="page">
  <div class="nav-placeholder"></div>
  <div class="container">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
      <p>{{ message }}</p>
    </div>
    {% elif message.tags == 'success' %}
    <div class="alert alert-success" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
      <p>{{ message }}</p>
    </div>
    {% elif message.tags == 'info' %}
    <div class="alert alert-info" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
      <p>{{ message }}</p>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if profile == None %}
    <div class="sign-in">
      <h1 class="h1">Sign In</h1>
      <div class="row">
        <div class="col-12 col-md-6">
          <h3 class="h3">Login</h3>
          <form action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}
            <input
              type="text"
              name="email"
              placeholder="Email"
              class="form-control"
            >
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control"
            >
            <input
              type="submit"
              class="btn btn-primary"
              value="Login"
            >
          </form>
        </div>
        <div class="col-12 col-md-6">
          <h3 class="h3">Register</h3>
          <form action="{% url 'users:register' %}" method="POST">
            {% csrf_token %}
            <input
              type="text"
              name="firstName"
              placeholder="First Name"
              class="form-control"
            >
            <input
              type="text"
              name="lastName"
              placeholder="Last Name"
              class="form-control"
            >
            <input
              type="text"
              name="email"
              placeholder="Email"
              class="form-control"
            >
            <input
              type="text"
              name="phone"
              placeholder="Phone"
              class="form-control"
            >
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control"
            >
            <input
              type="password"
              name="confirmPassword"
              placeholder="Confirm Password"
              class="form-control"
            >
            <input
              type="submit"
              class="btn btn-primary"
              value="Register"
            >
          </form>
        </div>
      </div>
    </div>
    {% else %}
    <div class="profile">
      <h1 class="h1">Profile</h1>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="contact-header">
            <h3 class="h3">Contact Info</h3>
            <div class="edit">
              <a href="#">Edit</a>
            </div>
          </div>
          <div class="info-container">
            <div class="info">
              <div>Name</div>
              <div>{{ profile.user.first_name }} {{ profile.user.last_name }}</div>
              <div>Email</div>
              <div>{{ profile.user.email }}</div>
              <div>Phone Number</div>
              <div>{{ profile.phone }}</div>
              <div>Password</div>
              <div>
                &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
                <a class="change" href="#">Change</a>
              </div>
            </div>
          </div>
          <div class="edit-profile">
            <form action="{% url 'users:edit_profile' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="profileId" value="{{ profile.pk }}">
              <div class="form-inline">
                <input
                  type="text"
                  name="firstName"
                  placeholder="First Name"
                  class="form-control col-6"
                  value="{{ profile.user.first_name }}"
                >
                <input
                  type="text"
                  name="lastName"
                  placeholder="Last Name"
                  class="form-control col-6"
                  value="{{ profile.user.last_name }}"
                >
              </div>
              <input
                type="text"
                name="email"
                placeholder="Email"
                class="form-control"
                value="{{ profile.user.email }}"
              >
              <input
                type="text"
                name="phone"
                placeholder="Phone"
                class="form-control"
                value="{{ profile.phone }}"
              >
              <div class="btn-container">
                <input class="btn btn-primary" type="submit" value="Edit">
                <input class="btn btn-secondary" type="submit" value="Cancel">
              </div>
            </form>
          </div>
          <div class="edit-password">
              <form action="{% url 'users:edit_password' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="userId" value="{{ profile.user.pk }}">
                <input
                  type="password"
                  name="currentPassword"
                  placeholder="Current Password"
                  class="form-control"
                >
                <input
                  type="password"
                  name="newPassword"
                  placeholder="New Password"
                  class="form-control"
                >
                <input
                  type="password"
                  name="passwordConfirm"
                  placeholder="Confirm Password"
                  class="form-control"
                >
                <div class="btn-container">
                  <input class="btn btn-primary" type="submit" value="Submit">
                  <input class="btn btn-secondary" type="submit" value="Cancel">
                </div>
              </form>
          </div>
        </div>
        <div class="col-12 col-md-6 next-appointment">
          <h3 class="h3">Next Appointment</h3>
          {% if appt == None %}
          <p class="empty text-center">
            You currently do not have an appointment scheduled.
            You may schedule one by choosing an appointment slot
            <a href="{% url 'booking:index' %}">here</a>.
          </p>
          {% else %}
          <div class="appointment">
            <h5 class="h5 text-center">{{ appt.date_start|date:"D M" }}</h5>
            <h1 class="h1 text-center">{{ appt.date_start|date:"j" }}</h1>
            <p class="text-center">{{ appt.date_start|date:"g:i a" }}</p>
          </div>
          {% if appt.massage == "DT" %}
          <p class="massage-type text-center">Massage type: <span>Swedish</span></p>
          {% elif appt.massage == "SW" %}
          <p class="massage-type text-center">Massage type: <span>Deep Tissue</span></p>
          {% else %}
          <p class="massage-type text-center">Massage type: <span>unspecified</span></p>
          {% endif %}
          <form action="{% url 'booking:cancel' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="appointment-id" value="{{ appt.pk }}">
            <div class="btn-container">
              <input class="btn btn-secondary" type="submit" value="Cancel">
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}