{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="page">
    <div class="nav-placeholder"></div>
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
            <p>{{ message }}</p>
        </div>
        {% elif message.tags == 'success' %}
        <div class="alert alert-success" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
            <p>{{ message }}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <h1 class="h1">Profile</h1>
        {% if person == None %}
        {% else %}
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="contact-header">
                    <h3 class="h3">Contact Information</h3>
                    <div class="edit">
                        <a href="#">Edit</a>
                    </div>
                </div>
                <div class="info">
                    <div>Name</div>
                    <div>{{ person.first_name }} {{ person.last_name }}</div>
                    <div>Phone Number</div>
                    <div>XXX-XXX-XXXX</div>
                    <div>Email</div>
                    <div>{{ person.email }}</div>
                    <div>Password</div>
                    <div>&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull; <a href="#">Change</a></div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h3 class="h3">Next Appointment</h3>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}