@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round');

.h1, .h3 {
  font-family: 'Varela Round', Arial, sans-serif
}

.alert, input {
  font-family: 'Open Sans', Arial, sans-serif;
}

.page {
  min-height: 100vh;
  background-color: #ffcc8d;
  background:
    linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -webkit-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -webkit-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -webkit-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -moz-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -moz-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -moz-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -ms-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -ms-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -ms-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -o-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -o-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -o-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  padding: 1rem 0;
}

.page .container {
  background: #ffffff7f;
  padding: 1rem;
}

.alert .close {
  position: absolute;
  top: 7px;
  right: 0.5rem;
}

.alert p {
  line-height: 1.5;
}

.sign-in input[type=submit] {
  margin-top: 1rem;
}

.contact-header > * {
  display: inline-block;
}

.edit {
  position: absolute;
  top: 10px;
  right: 1rem;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.info-container {
  height: 157px;
}

.info {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 49.8% 49.8%;
  grid-template-columns: calc((100% - 1rem)/2) calc((100% - 1rem)/2);
  width: 100%;
  margin: 1rem 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.25;
}

.info > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info > div:nth-child(2n + 1) {
  text-align: right;
  font-style: italic;
  padding-right: 1px;
}

.edit-profile {
  display: none;
}

.edit-profile .btn-container {
  height: 3.5rem;
  text-align: center;
}

.edit-profile .btn {
  margin-top: 1rem;
}

.next-appointment {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.appointment {
  width: 125px;
  height: 125px;
  margin: 1rem auto;
  padding: 0.5rem;
  color: white;
  background-color: #1647d2;
}

.massage-type {
  margin-bottom: 1rem;
}

.massage-type span {
  font-style: italic;
}

.next-appointment .btn-container {
  position: relative;
  height: 2.5rem;
}

.next-appointment .btn {
  position: absolute;
  right: 50%;
  transform: translate(50%);
}

.empty {
  height: 125px;
  line-height: 1.5;
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .info-container,
  .edit-profile  {
    position: relative;
    height: 221px;
  }

  .info,
  .edit-profile form  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }
}