@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round');

#forgotPassword {
  margin-bottom: 1rem;
}

.h1, .h3 {
  font-family: 'Varela Round', Arial, sans-serif;
}

.alert, input, .btn, p, ul {
  font-family: 'Open Sans', Arial, sans-serif;
}

p.spacing {
  line-height: 1.5;
  margin-bottom: 1em;
}

ul.spacing li {
  margin-bottom: 1em;
}

a, input {
  outline: 0;
}

.btn-link {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
}

.page {
  min-height: 100vh;
  background-color: #ffcc8d;
  background:
    linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -webkit-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -webkit-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -webkit-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -moz-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -moz-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -moz-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -ms-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -ms-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -ms-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -o-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -o-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -o-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  padding: 1rem 0;
}

.page .container {
  background: #ffffff7f;
  padding: 1rem;
}

.alert .close {
  position: absolute;
  top: 7px;
  right: 0.5rem;
}

.alert p {
  line-height: 1.5;
}

.sign-in input[type="submit"],
.sign-in a {
  margin-top: 1rem;
}

.sign-in a {
  display: block;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.contact-header > * {
  display: inline-block;
}

.edit {
  position: absolute;
  top: 10px;
  right: 1rem;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.profile .info-container {
  height: 157px;
}

.info {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 49.8% 49.8%;
  grid-template-columns: calc((100% - 1rem)/2) calc((100% - 1rem)/2);
  width: 100%;
  margin: 1rem 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.25;
}

.info p {
  margin-bottom: 0.25rem;
}

.info > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info > div:nth-child(2n + 1) {
  text-align: right;
  font-style: italic;
  padding-right: 1px;
}

.info > .vertical-center {
  position: relative;
}

.info > div.vertical-center div,
.info > div.vertical-center div {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
}

.info > div.vertical-center:nth-child(2n + 1) div {
  right: 0;
}

.info > div.vertical-center:nth-child(2n) div {
  left: 0;
}

.edit-profile,
.edit-password {
  display: none;
}

.edit-profile .btn-container,
.edit-password .btn-container,
#changeMassageType .btn-container,
#detailsModalContent .btn-container,
#editProfileModalContent .btn-container {
  text-align: center;
  margin-top: 1rem;
}

#detailsModalContent .btn-container > *,
#editProfileModalContent .btn-container > * {
  margin: 0 0.25rem;
}

#detailsModalContent .btn-container form {
  display: inline;
}

.edit-profile .btn-container,
.edit-password .btn-container {
  height: 3.5rem;
}

.next-appointment {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.appointment {
  width: 125px;
  height: 125px;
  margin: 1rem auto;
  padding: 0.5rem;
  color: white;
  background-color: #007bff;
}

.massage-type {
  margin-bottom: 0.75rem;
}

.next-appointment .form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -0.25rem 0 0.75rem 0;
}

.next-appointment .form-container form {
  display: inline;
}

.next-appointment .btn {
  margin: 0.25rem;
}

.empty {
  height: 125px;
  line-height: 1.5;
  display: table-cell;
  vertical-align: middle;
}

.radio {
  width: 7.5rem;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 1.5rem auto;
  grid-gap: 0.25rem;
  line-height: 1;
}

.radio label,
.radio input[type="radio"] {
  cursor: pointer;
  height: 1rem;
}

#changeMassageType {
  display: none;
}

#changeMassageType .radio {
  margin: 0 auto;
}

.admin:not(.h1, .h3) {
  font-family: 'Open Sans', Arial, sans-serif;
}

.admin .h1 {
  margin-top: 2rem;
}

#appointments_wrapper,
#profiles_wrapper {
  overflow-x: scroll;
}

#appointments tbody tr:nth-child(even),
#profiles tbody tr:nth-child(even) {
  background-color: #eeeeee;
}

#appointments tbody tr:hover :not(.dataTables_empty),
#profiles tbody tr:hover :not(.dataTables_empty) {
  color: white;
  background-color: #007bff;
  cursor: pointer;
}

#appointments tbody tr,
#profiles tbody tr,
.dataTables_empty {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#addAppointment {
  display: flex;
  margin: 1rem auto 2rem auto;
}

.m-t-1rem {
  margin-top: 1rem;
}

#detailsModal,
#addAppointmentModal,
#editProfileModal {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#detailsModal .close,
#addAppointmentModal .close,
#editProfileModal .close {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 2rem;
  height: 2rem;
}

#detailsModalContent,
#addAppointmentModalContent,
#editProfileModalContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #efefef;
  padding: 1rem;
  overflow-y: scroll;
}

#detailsModalContent .edit {
  z-index: 4;
  position: absolute;
  top: 55px;
  right: 1rem;
}

#addAppointmentModalContent .row {
  margin: 0;
}

.login input[name="password"],
.register input[name="email"],
.register input[name="phone"],
.register input[name="password"],
.register input[name="confirm-password"],
.edit-profile input[name="email"],
.edit-profile input[name="phone"],
.edit-password input[name="new-password"],
.edit-password input[name="password-confirm"],
#phoneAddAppointment,
#addAppointmentModalContent input[name="email"],
#addAppointmentModalContent input[type="submit"],
#editProfileModalContent input[name="email"],
#editProfileModalContent input[name="phone"] {
  margin-top: 0.25rem;
}

#clearFields {
  margin-top: 1rem;
}

#dropdownContainer {
  position: relative;
  z-index: 1;
}

#dropdownContainer ul {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-top: 1px solid #CED4DA;
}

#dropdownContainer ul li {
  padding: 0.5rem;
  border-right: 1px solid #CED4DA;
  border-bottom: 1px solid #CED4DA;
  border-left: 1px solid #CED4DA;
  background-color: white;
}

#dropdownContainer ul li.active,
#dropdownContainer ul li:hover {
  color: white;
  background-color: #007bff;
  cursor: pointer;
}

#clearFields {
  cursor: pointer;
  width: 100%;
}

#datePicker {
  display: block;
  position: unset;
  margin: 0 auto;
}

#datePicker .close {
  display: none;
}

#calendar {
  font-family: 'Varela Round', Helvetica, Arial, sans-serif;
  width: 100%;
  background-color: #efefef;
  border: 1px solid #b5b5b7;
  border-radius: 0.5rem;
}

#calendarControls {
  display: grid;
  grid-template-columns: 2.5rem calc(100% - 5rem) 2.5rem;
  height: 2.5rem;
  background-color: #414141;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#calendarControls .button {
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

#calendarControls .button.inactive {
  opacity: 0.5;
  cursor: not-allowed;
}

#calendarControls .date {
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
}

#calendarControls .date i {
  margin-left: 0.5rem;
  cursor: pointer;
}

#calendarContent .img-container {
  display: grid;
  height: 100%;
}

#calendarContent .img-container img {
  margin: auto;
}

#calendarContent {
  position: relative;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow-y: scroll;
  height: calc(16rem - 1px);
}

#calendarContent::-webkit-scrollbar {
  width: 1rem;
}

#calendarContent::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0,0,0,0.3);
  box-shadow: inset 0 0 0.375rem rgba(0,0,0,0.3);
}

#calendarContent::-webkit-scrollbar-thumb {
  background-color: #b817a2;
  border-radius: 0.5rem;
}

#calendarContent ol, #calendarContent ul {
  font-family: 'Varela Round', Arial, sans-serif;
}

#calendarContent ol {
  height: 1536px;
}

#calendarContent ol li {
  height: 4rem;
  padding: 0.5rem;
  border-bottom: 1px solid #c7c7c7;
}

#calendarContent ul li {
  position: absolute;
  height: 3.33rem;
  width: calc(100% - 6rem);
  padding: 0.5rem;
  color: white;
  background-color: #007bff;
  border-radius: 0.5rem;
  cursor: pointer;
}

#calendarContent ul li.inactive {
  background-color: gray;
}

@media (min-width: 576px) {
  #detailsModalContent,
  #addAppointmentModalContent,
  #editProfileModalContent {
    position: fixed;
    top: 50%;
    right: unset;
    bottom: unset;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 508px;
    height: unset;
    overflow-y: visible;
  }
}

@media (min-width: 768px) {
  #forgotPassword {
    margin-bottom: 0;
  }

  .profile .info-container,
  .edit-profile,
  .edit-password {
    position: relative;
    height: 221px;
  }

  .profile .info,
  .edit-profile form,
  .edit-password form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    width: 100%;
  }

  #appointments_wrapper,
  #profiles_wrapper {
    overflow-x: visible;
  }

  #detailsModalContent,
  #addAppointmentModalContent,
  #editProfileModalContent {
    width: 688px;
  }

  #calendarContent {
    height: calc(32rem - 1px);
  }
}