@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round');

.h1, .h3 {
  font-family: 'Varela Round', Arial, sans-serif
}

.alert, input {
  font-family: 'Open Sans', Arial, sans-serif;
}

a, input {
  outline: 0;
}

.page {
  min-height: 100vh;
  background-color: #ffcc8d;
  background:
    linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -webkit-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -webkit-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -webkit-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -moz-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -moz-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -moz-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -ms-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -ms-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -ms-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  background:
    -o-linear-gradient(127deg, rgba(90,181,255,1), rgba(90,181,255,0) 70.71%),
    -o-linear-gradient(217deg, rgba(255,181,90,1), rgba(255,181,90,0) 70.71%),
    -o-linear-gradient(336deg, rgba(181,255,90,1), rgba(181,255,90,0) 70.71%);
  padding: 1rem 0;
}

.page .container {
  background: #ffffff7f;
  padding: 1rem;
}

.alert .close {
  position: absolute;
  top: 7px;
  right: 0.5rem;
}

.alert p {
  line-height: 1.5;
}

.sign-in input[type=submit] {
  margin-top: 1rem;
}

.contact-header > * {
  display: inline-block;
}

.edit {
  position: absolute;
  top: 10px;
  right: 1rem;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.profile .info-container {
  height: 157px;
}

.info {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 49.8% 49.8%;
  grid-template-columns: calc((100% - 1rem)/2) calc((100% - 1rem)/2);
  width: 100%;
  margin: 1rem 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.25;
}

.info > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info > div:nth-child(2n + 1) {
  text-align: right;
  font-style: italic;
  padding-right: 1px;
}

.info > .vertical-center {
  position: relative;
}

.info > div.vertical-center div,
.info > div.vertical-center div {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
}

.info > div.vertical-center:nth-child(2n + 1) div {
  right: 0;
}

.info > div.vertical-center:nth-child(2n) div {
  left: 0;
}

.edit-profile,
.edit-password {
  display: none;
}

.edit-profile .btn-container,
.edit-password .btn-container,
#modalContent .btn-container {
  text-align: center;
}

.edit-profile .btn-container,
.edit-password .btn-container {
  height: 3.5rem;
}

.edit-profile .btn,
.edit-password .btn {
  margin-top: 1rem;
}

.next-appointment {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.appointment {
  width: 125px;
  height: 125px;
  margin: 1rem auto;
  padding: 0.5rem;
  color: white;
  background-color: #1647d2;
}

.massage-type {
  margin-bottom: 1rem;
}

.massage-type span {
  font-style: italic;
}

.next-appointment .btn-container {
  position: relative;
  height: 2.5rem;
}

.next-appointment .btn {
  position: absolute;
  right: 50%;
  transform: translate(50%);
}

.empty {
  height: 125px;
  line-height: 1.5;
  display: table-cell;
  vertical-align: middle;
}

.admin:not(.h1) {
  font-family: 'Open Sans', Arial, sans-serif;
}

.admin .h1 {
  margin-top: 2rem;
}

#appointments tbody tr:hover :not(.dataTables_empty) {
  color: white;
  background-color: #1647d2;
  cursor: pointer;
}

#appointments tbody tr,
.dataTables_empty {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 6rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

#modalContent {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #efefef;
  margin: 2rem;
  padding: 1rem;
}

#modalContent .radio {
  width: 7.5rem;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 1.5rem auto;
  grid-gap: 0.25rem;
  line-height: 1;
}

#modalContent .radio label,
#modalContent .radio input[type="radio"] {
  cursor: pointer;
  height: 1rem;
}

@media (min-width: 768px) {
  .profile .info-container,
  .edit-profile,
  .edit-password {
    position: relative;
    height: 221px;
  }

  .profile .info,
  .edit-profile form,
  .edit-password form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    width: 100%;
  }
}